
.filter-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
.flex-row-layout{
    display: flex;
}
input[type=text] {
  width: 330px;
  box-sizing: border-box;
  border: 2px solid rgb(36, 29, 29);
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 45px;
  font-size: 20px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:hover, :focus {
  width: 70%;
}